html,
body {
  position: relative;
}
body {
  background: #fff;
  margin: 0;
  padding: 0;
  width: 100%;
}
.header {
  position: relative;
  background: black;
  width: 100%;
  height: 100px;
}
.header img {
  position: absolute;
  width: 153px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-container {
  width: 100%;
  height: 30px;
}
.swiper-slide {
  text-align: center;
  font-size: 14px;
  background: #eee;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.close_swiper {
  position: absolute;
  top: 100px;
  right: 24px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  z-index: 6;
  cursor: pointer;
}
.section_buy {
  height: 800px;
  margin-top: -35px;
}
.section_buy .article_body {
  margin: 0 100px;
  height: 50px;
  line-height: 50px;
}
.section_buy .article_body .progress_bar {
  list-style: none;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid black;
}
.section_buy .article_body .progress_bar li {
  margin-top: 30px;
}
.section_buy .goods_cart_box {
  margin: 65px 100px;
  height: 800px;
  display: flex;
}
.section_buy .goods_cart_box .box_left {
  width: 1000px;
  background: peachpuff;
}
.section_buy .goods_cart_box .box_left .total_num {
  line-height: 40px;
  border-bottom: 3px solid black;
}
.section_buy .goods_cart_box .box_left .tips {
  margin-top: -12px;
  display: none;
}
.section_buy .goods_cart_box .box_left table {
  width: 100%;
}
.section_buy .goods_cart_box .box_left table th {
  background: gray;
  text-align: center;
}
.section_buy .goods_cart_box .box_left table td {
  text-align: center;
}
.section_buy .goods_cart_box .box_left table td img {
  width: 179px;
  height: 179px;
}
.section_buy .goods_cart_box .box_left table td input {
  margin: 0 -6px;
  width: 30px;
  text-align: center;
}
.section_buy .goods_cart_box .box_left .total_order_price {
  height: 150px;
  margin-top: 50px;
  border-bottom: 3px solid gray;
}
.section_buy .goods_cart_box .box_left .total_order_price .order_price_label {
  font-size: 18px;
  font-weight: 600;
  line-height: 66px;
  margin-left: 10px;
}
.section_buy .goods_cart_box .box_left .total_order_price .order_price_box {
  width: 600px;
  height: 100%;
  float: right;
}
.section_buy .goods_cart_box .box_left .total_order_price .order_price_box p {
  margin-left: 300px;
}
.section_buy .goods_cart_box .box_left .total_order_price .order_price_box p span {
  float: right;
  margin: 0 10px 0 100px;
}
.section_buy .goods_cart_box .box_left .total_price {
  font-size: 19px;
  margin-left: 700px;
}
.section_buy .goods_cart_box .box_left .total_price span {
  float: right;
  margin: 0 10px 0 100px;
}
.section_buy .goods_cart_box .box_left .immediately_go {
  float: right;
}
.section_buy .goods_cart_box .box_left .immediately_go a {
  width: 160px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  float: right;
  border: 1px solid #000;
}
.section_buy .goods_cart_box .box_left .immediately_go a:first-child {
  margin: 0 10px 0 20px;
  color: #fff;
  background: #000;
}
.section_buy .goods_cart_box .box_left .immediately_go a:first-child:hover {
  margin: 0 10px 0 20px;
  color: #fff;
  border: 1px solid #d61b52;
  background: #d61b52;
}
.section_buy .goods_cart_box .box_left .immediately_go a:last-child:hover {
  border: 1px solid #999;
}
.section_buy .goods_cart_box .box_left .immediately_go a:last-child {
  color: #000;
  background: #fff;
}
.section_buy .goods_cart_box .box_right {
  width: 320px;
  background: yellowgreen;
}
