html,
body {
    position: relative;
}

body {
    background: #fff;
    margin: 0;
    padding: 0;
    // width: 1519px;
    width: 100%;
}

// 声明 名称 变量

// 头部
@header: .header;

// 文字轮播
@swiper-container: .swiper-container;
@swiper-slide: .swiper-slide;
@close_swiper: .close_swiper;

// 购物及付款
@section_buy: .section_buy;
// 导航条
@article_body: .article_body;
@progress_bar: .progress_bar;

// 购物车盒子
@goods_cart_box: .goods_cart_box;
// 左侧购物车
@box_left: .box_left;
@total_num: .total_num;
@tips: .tips;
@total_order_price: .total_order_price;
@order_price_label: .order_price_label;
@order_price_box: .order_price_box;

@loyal_fans: .loyal_fans;
@public_box: .public_box;
@mumber_box: .mumber_box;
@give_box: .give_box;
@courtesy_box: .courtesy_box;
@welfare_box: .welfare_box;

@total_price: .total_price;

@immediately_go: .immediately_go;
@recommend_goods: .recommend_goods;

// 右侧购物车
@box_right: .box_right;


// 声明 样式 变量


// 去掉边框  border:0;   outline:none;


// 头部信息
@{header} {
    position: relative;
    background: black;
    width: 100%;
    height: 100px;
}

@{header} img {
    position: absolute;
    width: 153px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// swiper插件
@{swiper-container} {
    width: 100%;
    height: 30px;
}

@{swiper-slide} {
    text-align: center;
    font-size: 14px;
    background: #eee;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

// 点击 X 隐藏轮播
@{close_swiper} {
    position: absolute;
    top: 100px;
    right: 24px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    // background: royalblue;
    z-index: 6;
    cursor: pointer;
}

// 购物付款
@{section_buy} {
    // width: 1500px;
    height: 800px;
    margin-top: -35px;

    @{article_body} {
        margin: 0 100px;
        height: 50px;
        line-height: 50px;

        @{progress_bar} {
            list-style: none;
            display: flex;
            justify-content: space-around;
            border-bottom: 1px solid black;

            li {
                margin-top: 30px;
            }
        }
    }

    @{goods_cart_box} {
        margin: 65px 100px;
        height: 800px;
        display: flex;

        @{box_left} {
            width: 1000px;
            background: peachpuff;

            @{total_num} {
                line-height: 40px;
                border-bottom: 3px solid black;
            }

            @{tips} {
                margin-top: -12px;
                display: none;
            }

            table {
                width: 100%;

                th {
                    background: gray;
                    text-align: center;
                }

                td {
                    text-align: center;

                    img {
                        width: 179px;
                        height: 179px;
                    }

                    input {
                        margin: 0 -6px;
                        width: 30px;
                        text-align: center;
                    }
                }
            }

            @{total_order_price} {
                height: 150px;
                margin-top: 50px;
                border-bottom: 3px solid gray;

                @{order_price_label} {
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 66px;
                    margin-left: 10px;
                }

                @{order_price_box} {
                    width: 600px;
                    height: 100%;
                    float: right;

                    p {

                        margin-left: 300px;

                        span {
                            float: right;
                            margin: 0 10px 0 100px;
                        }
                    }
                }
            }

            @{loyal_fans} {
                margin-top: 50px;
                border-bottom: 1px solid #e8e8e8;
                background: #f7f7f7;

                @{public_box} {
                    height: 300px;
                    background: rgba(245, 234, 234, 0.5);
                    border-bottom: 5px solid #e8e8e8;

                    h3 {
                        margin: 10px 20px;
                        padding: 10px 0 0 0;
                    }

                }

                @{welfare_box} {
                    border-bottom: 0px solid #e8e8e8;
                    height: 100px;
                    margin: 10px 0 20px 0;
                    display: flex;
                    align-items: center;

                    input {
                        margin-top: 10px;
                        outline: none;
                        width: 290px;
                        height: 36px;
                    }
                }
            }

            @{total_price} {
                font-size: 19px;
                margin-left: 700px;

                span {
                    float: right;
                    margin: 0 10px 0 100px;
                }
            }

            @{immediately_go} {
                float: right;
                a {
                    cursor: pointer;
                    width: 160px;
                    height: 42px;
                    line-height: 42px;
                    text-align: center;
                    float: right;
                    border: 1px solid #000;
                }

                a:first-child {
                    margin: 0 10px 0 20px;
                    color: #fff;
                    background: #000;
                }

                a:first-child:hover {
                    margin: 0 10px 0 20px;
                    color: #fff;
                    border: 1px solid #d61b52;
                    background: #d61b52;
                }

                a:last-child:hover {
                    border: 1px solid #999;
                }

                a:last-child {
                    color: #000;
                    background: #fff;
                }
            }

            @{recommend_goods} {
                height: 550px;
                margin-top: 100px;
                background: palegreen;
                border-top: 1px solid #e8e8e8;
            }
        }
    }

    @{box_right} {
        width: 320px;
        background: yellowgreen;
    }
}