*{
    margin: 0;
    padding: 0;
}
ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

/* <!-- 圣诞礼盒大盒子 container --> */

.container {
    width: 100%;
    height: 830px;
    background: yellowgreen;
}

/* <!-- 圣诞礼盒 导航栏 --> */

.container .article {
    width: 100%;
    height: 32px;
    background: tomato;
}

/* <!-- 面包屑 --> */

.article .crumbs {
    margin: auto 100px;
    line-height: 32px;
    text-align: center;
}

.article .crumbs .curmbs_inline>li {
    float: left;
    margin: auto 3px;
}

/* <!-- 圣诞礼盒限定 数据显示页面大盒子 --> */

.container .article_lists {
    width: 100%;
    height: 1000px;
}

/* <!-- 圣诞礼盒限定 数据显示页面 --> */

.article_lists .lists_info_all {
    margin: auto 100px;
    background: darkcyan;
}

/* <!-- 树形菜单 --> */

.lists_info_all .lists_left {
    width: 22%;
    height: 800px;
    float: left;
    background: darkgreen;
}

/* <!-- 商品展示 --> */

.lists_info_all .lists_right {
    width: 78%;
    height: 800px;
    float: right;
    background: darksalmon;
}

.lists_right .top_info {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: pink;
}
.lists_right .top_info .top_info_goods{
    float: left;
}
.lists_right .top_info .top_info_sorts{
    float: right;
}
.top_info_sorts #sorts_name{
    width: 200px;
    height: 40px;
}

.lists_right .goods_info{
    width: 100%;
    height: 740px;
    background: palegoldenrod;
}

.goods_box .goods_show_lists img{
    width: 290px;
    height: 290px;
}

.goods_box .goods_show_lists{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.goods_box .goods_show_lists li{
    margin-top: 10px;
    margin-bottom: 30px;
}

.goods_box .goods_show_lists .price{
    margin: auto 13px;
    display: flex;
    justify-content: space-around;
}



